@import "../cleaner/cleaner.css";

* {
    font-size: 24px;
}
.calculator {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        width: 80%;
        min-height: 600px;
        max-height: fit-content;
        padding: calc(1rem + 1vw);
        padding-top: 4rem;
        background-color: #3333FF;
    }
}
.calculator__display {
    background-color: whitesmoke;
    width: 100%;
    height: calc(3rem + 1.5vw);
    text-align: end;
    font-size: calc(2rem + 1.5vw);
    padding-right: 5px;
    margin-bottom: calc(1rem + 2vw);
    overflow:auto;
}
.controller {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.controller__numbers {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    button {
        width: 40%;
        height: 60px;
        background-color: #2b2b8f;
        margin: 2px;
        
    }
}
.controller__operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    & > button {
        width: 40%;
        height: 60px;
        background-color: #2b2b8f;
        margin: 2px;
    }
    #result {
        background-color: orange;
    }
    #multiply > span {
        display: block;
        transform: rotate(45deg);
    }
}